<div class="media">
  <div class="media-body">
    <h4>
      <%= link_to topic.name, topic %> created <%= time_ago_in_words(topic.created_at) %> ago
    </h4>
    <small><%= topic.description %></small>
  </div>
</div>
